In [1]:
import pandas as pd

In [2]:
old_bags = pd.read_csv('test_data/test_bags.csv')
old_bags[['Product\'s Title', 'Qty']]

                         Product's Title   Qty
0              Baker Out Medium Tote Bag   4.0
1            Mini 'Jewelled Satchel' Bag   2.0
2                Small Leather Skull Bag   4.0
3              Baker Out Medium Tote Bag  10.0
4                         Biker Beltpack   1.0
5  'Mcqueen Graffiti' Leather Flat Pouch   1.0

In [8]:
new_bags = pd.read_csv('test_data/test_update_bags.csv')
new_bags[['Product\'s Title', 'Qty', 'Sku Styleisnow']]

                         Product's Title   Qty        Sku Styleisnow
0              Baker Out Medium Tote Bag   4.0   232895ABS000001-AEV
1            Mini 'Jewelled Satchel' Bag   2.0  232527ABS000005-1000
2                Small Leather Skull Bag   2.0  232527ABS000006-1000
3              Baker Out Medium Tote Bag  10.0   232895ABS000002-AEV
4                         Biker Beltpack   1.0  232527FMS000001-1000
5  'Mcqueen Graffiti' Leather Flat Pouch   0.0  232527FAV000002-1070

In [5]:
products = pd.read_csv('test_data/products_export.csv')
products.columns

Index(['Handle', 'Title', 'Body (HTML)', 'Vendor', 'Product Category', 'Type',
       'Tags', 'Published', 'Option1 Name', 'Option1 Value',
       ...
       'Included / Added by Managed Markets',
       'Price / Added by Managed Markets',
       'Compare At Price / Added by Managed Markets', 'Included / Worldwide',
       'Price / Worldwide', 'Compare At Price / Worldwide',
       'Included / united kingdom', 'Price / united kingdom',
       'Compare At Price / united kingdom', 'Status'],
      dtype='object', length=105)

In [6]:
print(products.columns.tolist())

['Handle', 'Title', 'Body (HTML)', 'Vendor', 'Product Category', 'Type', 'Tags', 'Published', 'Option1 Name', 'Option1 Value', 'Option1 Linked To', 'Option2 Name', 'Option2 Value', 'Option2 Linked To', 'Option3 Name', 'Option3 Value', 'Option3 Linked To', 'Variant SKU', 'Variant Grams', 'Variant Inventory Tracker', 'Variant Inventory Policy', 'Variant Fulfillment Service', 'Variant Price', 'Variant Compare At Price', 'Variant Requires Shipping', 'Variant Taxable', 'Variant Barcode', 'Image Src', 'Image Position', 'Image Alt Text', 'Gift Card', 'SEO Title', 'SEO Description', 'Google Shopping / Google Product Category', 'Google Shopping / Gender', 'Google Shopping / Age Group', 'Google Shopping / MPN', 'Google Shopping / Condition', 'Google Shopping / Custom Product', 'Google Shopping / Custom Label 0', 'Google Shopping / Custom Label 1', 'Google Shopping / Custom Label 2', 'Google Shopping / Custom Label 3', 'Google Shopping / Custom Label 4', 'MATERIAL (product.metafields.category.details)', 'Lifestyle Product Type (product.metafields.category.lifestyle)', 'Clothing Product Type (product.metafields.clothing.category)', 'Accessory Height (product.metafields.custom.accessory_height)', 'Accessory Length (product.metafields.custom.accessory_length)', 'Accessory Width (product.metafields.custom.accessory_width)', 'Age Group (product.metafields.custom.age_group)', 'Bag Height (product.metafields.custom.bag_height)', 'Bag Length (product.metafields.custom.bag_length)', 'Bag Width (product.metafields.custom.bag_width)', 'Brand (product.metafields.custom.brand)', 'Brand Description (product.metafields.custom.brand_description)', 'Category (product.metafields.custom.category)', 'COLOR (FILTER) (product.metafields.custom.color)', 'color code (product.metafields.custom.color_code)', 'COLOR (VENDOR) (product.metafields.custom.color_detail)', 'condition (product.metafields.custom.condition)', 'Dimensions (H x L x W) (product.metafields.custom.dimensions)', 'filter department (product.metafields.custom.filter_department)', 'Format Size (product.metafields.custom.format_size)', 'Fragrance Type (product.metafields.custom.fragrance_type)', 'Full Season (product.metafields.custom.full_season)', 'gender (product.metafields.custom.gender)', 'HEEL HEIGHT (product.metafields.custom.heel_height)', 'Ingredients (product.metafields.custom.ingredients)', 'MADE IN (product.metafields.custom.made_in)', 'Season (product.metafields.custom.season)', 'Sizing Standard (product.metafields.custom.size_info)', 'SUPPLIER SKU (product.metafields.custom.supplier_sku)', 'Supplier SKU New (product.metafields.custom.supplier_sku_new)', 'Sustainability Collection (product.metafields.custom.sustainability_collection)', 'Year (product.metafields.custom.year)', 'Department (product.metafields.department.product)', 'Google: Custom Product (product.metafields.mm-google-shopping.custom_product)', 'Closure type (product.metafields.shopify.closure-type)', 'Color (product.metafields.shopify.color-pattern)', 'Footwear material (product.metafields.shopify.footwear-material)', 'Heel height type (product.metafields.shopify.heel-height-type)', 'Sandal style (product.metafields.shopify.sandal-style)', 'Scent (product.metafields.shopify.scent)', 'Target gender (product.metafields.shopify.target-gender)', 'Complementary products (product.metafields.shopify--discovery--product_recommendation.complementary_products)', 'Related products (product.metafields.shopify--discovery--product_recommendation.related_products)', 'Related products settings (product.metafields.shopify--discovery--product_recommendation.related_products_display)', 'Variant Image', 'Variant Weight Unit', 'Variant Tax Code', 'Cost per item', 'Included / United States', 'Price / United States', 'Compare At Price / United States', 'Included / Added by Managed Markets', 'Price / Added by Managed Markets', 'Compare At Price / Added by Managed Markets', 'Included / Worldwide', 'Price / Worldwide', 'Compare At Price / Worldwide', 'Included / united kingdom', 'Price / united kingdom', 'Compare At Price / united kingdom', 'Status']

                                  Handle
0               baroque-sea-jersey-skirt
1               baroque-sea-jersey-skirt
2               baroque-sea-jersey-skirt
3               baroque-sea-jersey-skirt
4               baroque-sea-jersey-skirt
..                                   ...
561  greystone-active-flex-down-jacket-1
562  greystone-active-flex-down-jacket-1
563                             chic-ven
564                             chic-ven
565                             chic-ven

[566 rows x 1 columns]